#{extends 'main.html' /}
#{set title:'swlogger messages' /}

<p> Currently everyone's messages are displayed in this list,
    not just your messages. </p>
<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListSearch">
		#{crud.search /}
	</div>

	<div id="crudListTable">
		#{crud.table /}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination limit:5 /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>

</div>
